@import "reset";
@import "vendors/bootstrap/bootstrap-custom";

@import "config/variables";
@import "config/fonts";
@import "config/mixings";

@import "components/buttons";

body {
  font-family: 'AkagiPro', 'Roboto';
  color: map_get($colors, _dark_blue_grey);
}

h1 {
  font-size: 44px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: -1.3px;
  text-align: center;
}

p {
  font-family: 'AkagiPro', 'Roboto';
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.46;
  letter-spacing: normal;
  color: rgba(map_get($colors, _dark_blue_grey), 0.4);
}

a {
  color: map_get($colors, _dark_blue_grey);
  text-decoration: none;
  position: relative;
  &.underline-decortation {
    &:after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100%;
      height: 1px;
      background: map_get($colors, _light_teal_two);
    }
  }
}

.btn {
  font-size: 18px;
  font-weight: 600;
}

.container-jopmi {
  max-width: 673px;
  margin: 0 auto;
  // height: 100vh;
  // display: -ms-flexbox;
  // display: -webkit-flex;
  // display: flex;

  // -ms-flex-align: center;
  // -webkit-align-items: center;
  // -webkit-box-align: center;

  // align-items: center;

  .side-info {
    position: absolute;
    p {
      color: map_get($colors, _dark_blue_grey);
      a {
        text-decoration: none;
      }
    }
    &.left-content {
      left: -30px;
      top: 380px;
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      transform: rotate(270deg);
    }
    &.right-content {
      right: -18px;
      top: 380px;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
}

.content {
  .logo-jopmi {
    margin-top: 80px;
    margin-bottom: 67px;
    img {
      width: 130px;
    }
  }

  p {
    margin: 0 0 20px 0;
  }
  h1 {
    margin: 0 0 73px 0;
  }
}


@import "responsive";