@import "reset";
@import "vendors/bootstrap/bootstrap-custom";

@import "config/variables";
@import "config/fonts";
@import "config/mixings";

@import "components/figures";
@import "components/buttons";

html {
  height: 100vh;
}

body {
  font-family: 'AkagiPro', 'Roboto';
  color: map_get($colors, _dark_blue_grey);

  background-image: url('../images/figures-background.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center bottom;
}

h1 {
  font-size: 44px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: -1.3px;
  text-align: center;
}

p {
  font-family: 'AkagiPro', 'Roboto';
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.46;
  letter-spacing: normal;
  color: rgba(map_get($colors, _dark_blue_grey), 0.4);
}

a {
  color: map_get($colors, _dark_blue_grey);
  text-decoration: none;
  position: relative;
  @include browsers_support(transition, all 0.3s ease);
  &.underline-decortation {
    &:after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100%;
      height: 1px;
      background: map_get($colors, _light_teal_two);
    }
  }
  &:hover {
    color: map_get($colors, _light_teal_two);
  }
}

.btn {
  font-size: 18px;
  font-weight: 600;
}

.container-jopmi {
  max-width: 673px;
  margin: 0 auto;
  z-index: 10;
  .side-info {
    position: absolute;
    z-index: 20;
    p {
      color: map_get($colors, _dark_blue_grey);
      a {
        text-decoration: none;
      }
    }
    &.left-content {
      left: -30px;
      top: calc(40%);
      @include browsers_support(transform, rotate(270deg));
    }
    &.right-content {
      right: -18px;
      top: calc(40%);
      @include browsers_support(transform, rotate(90deg));
    }
  }
}

.content {
  z-index: 10;
  position: relative;
  .logo-jopmi {
    margin-top: 80px;
    margin-bottom: 67px;
    img {
      width: 130px;
    }
  }

  p {
    margin: 0 0 20px 0;
  }
  h1 {
    margin: 0 0 73px 0;
  }
}

.cta-buttons {
  margin-bottom: 72px;
}

@import "responsive";