.cta-buttons {
  margin-bottom: 72px;

  &.row {
    margin-right: -15px;
    margin-left: -15px;
    & > div {
      padding: 0 15px;
    }
  }
  .btn {
  	width: 261px;
    height: 80px;
  	border-radius: 4px;
    line-height: 66px;
    text-decoration: none;
    @include browsers_support(transition, all 0.3s ease);

    span {
      display: none;
      &:first-child {
        display: inline-block;
      }
    }

  	&.btn-default {
      color: map_get($colors, _dark_blue_grey);
      background-color: map_get($colors, _white);
    	border: solid 1px map_get($colors, _light_teal_two);
  	}
  	&.btn-primary {
      color: map_get($colors, _white);
      background-color: map_get($colors, _dark_blue_grey);
      border: solid 1px map_get($colors, _dark_blue_grey);
  	}
    &:hover {
      color: map_get($colors, _white);
      background-color: map_get($colors, _light_teal_two);
      border: solid 1px map_get($colors, _light_teal_two);
    }
  }
}


/*
 * MEDIA QUERYS
 *
 * Extra tiny grid  devices Phones  (<350px) = .col-*
 * Tiny grid  devices Phones  (<450px) = .col-*
 * Extra small grid  devices Phones  (<576px) = .col-*
 * Small grid  devices Phones  (<768px) = .col-sm-*
 * Regular grid devices Tablets (≥768px) = .col-md-*
 * Medium grid devices Desktops  (≥992px) = .col-lg-*
 * Large grid devices Desktops  (≥1200px) = .col-xl-*
 * Extra large grid deivces desktop (≥1400px)
 */

// Breakpoint: x >= 1400
@media (min-width: map_get($screen,_xxl)) {

}

// Breakpoint: x <= 1399
@media (max-width: map_get($screen,_xxl-max)) {

}


// Breakpoint: 1200 >= x <= 1399px
@media (min-width: map_get($screen,_xl)) and (max-width: map_get($screen,_xl-max)) {

}

// Breakpoint: x >= 1200
@media (min-width: map_get($screen,_xl)) {

}

// Breakpoint: x <= 1199
@media (max-width: map_get($screen,_xl-max)) {

}

// Breakpoint: 992 >= x <= 1199
@media (min-width: map_get($screen,_lg)) and (max-width: map_get($screen,_xl-max)) {

}

// Breakpoint: x >= 992
@media (min-width: map_get($screen,_lg)) {

}

// Breakpoint: x <= 991
@media (max-width: map_get($screen,_lg-max)) {
  .container-jopmi {
    max-width: 580px;
  }
}

// Breakpoint: 768 >= x <= 991
@media (min-width: map_get($screen,_md)) and (max-width: map_get($screen,_lg-max)) {

}

// Breakpoint: x <= 767
@media (max-width: map_get($screen,_md-max)) {
  .cta-buttons {
    margin-bottom: 40px;
    &.row {
      margin-right: -5px;
      margin-left: -5px;
      & > div {
        padding: 0 5px;
      }
    }
    .btn {
      font-size: 18px;
      width: 100% !important;
      height: 70px;
      line-height: 58px;

      span {
        display: block;
        &:first-child {
          display: none;
        }
      }
    }
  }
}

// Breakpoint: x < 575
@media (max-width: map_get($screen,_sm-max)) {

}

// Breakpoint: x <= 449
@media (max-width: map_get($screen,_xs-max)) {

}

// Breakpoint: x <= 349
@media (max-width: map_get($screen,_xxs-max)) {

}


// Breakpoint: x >= 992 and y <= 760
@media (min-width: map_get($screen,_lg)) and (max-height: 760px) {
  .cta-buttons {
    margin-bottom: 40px;
  }
}


// Breakpoint: x <= 850 and y <= 500
@media (max-width: 850px) and (max-height: 500px) {
  .cta-buttons {
    margin-bottom: 40px;
    &.row {
      margin-right: -10px;
      margin-left: -10px;
      & > div {
        padding: 0 10px;
      }
    }
    .btn {
      width: 210px;
    }
  }
}


// Breakpoint: x <= 340 and y <= 550
@media (max-width: 340px) and (max-height: 550px) {
  .cta-buttons {
    margin-bottom: 15px;
    &.row {
      margin-right: -5px;
      margin-left: -5px;
      & > div {
        padding: 0 5px;
      }
    }
    .btn {
      font-size: 16px;
      width: 100% !important;
      height: 70px;
      line-height: 58px;

      span {
        display: block;
        &:first-child {
          display: none;
        }
      }
    }
  }
}